# Copie para .env e preencha com sua URI do Atlas ou Mongo local:
# cp .env.example .env

MONGO_URI=mongodb+srv://USUARIO:SENHA@cluster0.xxxxx.mongodb.net/aulas

# porta do Express (opcional)
PORTA=3000
